{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Inti App | Activities by Geographies</title>
{% endblock %}

{% block extra_css %}
    <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.css' %}">
  <!-- Boostrap-Select -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap-select/css/bootstrap-select.min.css' %}">

{% endblock %}

{% block main %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Activities by Geographies</h1>
              <p>
                See the activities that share the same geography, filtered by the id of the geography.
              </p>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'inti:index' %}">Home</a></li>
                <li class="breadcrumb-item active">Activities by Geographies</li>
              </ol>
            </div>
          </div>
            As user, you has the possibility of introducing the variable corresponding to the name of a geography by which you wishes to filter the data.
              <br><i>Note. Take into account that you have a dropdown menu where you can search and find the geographies names available, but take into consideration that not all the geographies contain an activity.</i>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">

        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Filters</h3>
                </div>
                <div class="card-body">
                  <div class="row-fluid">
                    <center>
                      <label>Geographies:</label>
                      <select class="selectpicker" data-show-subtext="true" data-live-search="true" id="geography" name="geography">
                        {% for geography in geographies %} 
                        <option data-subtext="Source" value="{{ geography.id }}">{{ geography.name }}</option>
                        {% endfor %}
                      </select>
                    </center>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              
  
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">DataTable with default features</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="activitiesTable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Activity Index Id</th>
                      <th>Activity Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Activity Index Id</th>
                        <th>Activity Name</th>
                    </tr>
                    </tfoot>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
  
{% endblock %}

{% block extra_script %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script> 
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/jszip/jszip.min.js' %}"></script> 
    <script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <script>
      $(function () {
        $('.select2').select2()
      });
    </script>

   
    <script>
        function activitiesList(geography){
        $.ajax({
          url: "/inti/geographies/"+geography+"/activities/",   
          type: "get",
          dataType: "json",
          cache: false,
          success: function(response){
            console.log(response);
            $('#activitiesTable tbody').html("");
            for(let i = 0;i < response['response'].length; i++){
              let fila = '<tr>';
              fila += '<td>' + response['response'][i]['activity index id'] + '</td>';
              fila += '<td>' + response['response'][i]['activity name'] + '</td>';
              fila += '</tr>';
              $('#activitiesTable tbody').append(fila);
            }
            $('#activitiesTable').DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
          }).buttons().container().appendTo('#activitiesTable_wrapper .col-md-6:eq(0)');
          },
          error: function(response){
            console.log("error");
          }
        });
      }
    </script>
    
    <script>
        var select = document.getElementById('geography');
        select.addEventListener('change',
        function(){
            $('#activitiesTable').DataTable().destroy();
            var selectedOption = this.options[select.selectedIndex];
            console.log(selectedOption.value + ': ' + selectedOption.text);
            activitiesList(selectedOption.value)
        });  
    </script>
    

{% endblock %}